:root {
  --c-transparent: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 300px;
}

.pixel-art {
  height: 1px;
  width: 1px;
  transform: scale(10);
  box-shadow: 1px 0 var(--c-transparent), 2px 0 var(--c-transparent), 3px 0 var(--c-transparent),
    4px 0 var(--c-transparent), 5px 0 var(--c-transparent), 6px 0 var(--c-transparent), 7px 0 var(--c-transparent),
    8px 0 var(--c-transparent), 9px 0 var(--c-transparent), 10px 0 var(--c-transparent), 11px 0 var(--c-transparent),
    12px 0 var(--c-transparent), 13px 0 var(--c-transparent), 14px 0 var(--c-transparent), 15px 0 var(--c-transparent),
    16px 0 var(--c-transparent), 17px 0 var(--c-transparent), 18px 0 var(--c-transparent), 19px 0 var(--c-transparent),
    20px 0 var(--c-transparent), 21px 0 var(--c-transparent), 22px 0 var(--c-transparent), 23px 0 var(--c-transparent),
    24px 0 var(--c-transparent), 25px 0 var(--c-transparent), 26px 0 var(--c-transparent), 27px 0 var(--c-transparent),
    28px 0 var(--c-transparent), 29px 0 var(--c-transparent), 30px 0 var(--c-transparent), 31px 0 var(--c-transparent),
    32px 0 var(--c-transparent), 33px 0 var(--c-transparent), 34px 0 var(--c-transparent), 35px 0 var(--c-transparent),
    36px 0 var(--c-transparent), 37px 0 var(--c-transparent), 38px 0 var(--c-transparent), 39px 0 var(--c-transparent),
    40px 0 var(--c-transparent), 41px 0 black, 42px 0 black, 43px 0 black, 44px 0 black, 45px 0 black, 46px 0 black,
    47px 0 var(--c-transparent), 48px 0 var(--c-transparent), 49px 0 var(--c-transparent), 50px 0 var(--c-transparent),
    /*line*/ 1px 1px var(--c-transparent), 2px 1px var(--c-transparent), 3px 1px var(--c-transparent),
    4px 1px var(--c-transparent), 5px 1px var(--c-transparent), 6px 1px var(--c-transparent),
    7px 1px var(--c-transparent), 8px 1px var(--c-transparent), 9px 1px var(--c-transparent),
    10px 1px var(--c-transparent), 11px 1px var(--c-transparent), 12px 1px var(--c-transparent),
    13px 1px var(--c-transparent), 14px 1px var(--c-transparent), 15px 1px var(--c-transparent),
    16px 1px var(--c-transparent), 17px 1px var(--c-transparent), 18px 1px var(--c-transparent),
    19px 1px var(--c-transparent), 20px 1px var(--c-transparent), 21px 1px var(--c-transparent),
    22px 1px var(--c-transparent), 23px 1px var(--c-transparent), 24px 1px var(--c-transparent),
    25px 1px var(--c-transparent), 26px 1px var(--c-transparent), 27px 1px var(--c-transparent),
    28px 1px var(--c-transparent), 29px 1px var(--c-transparent), 30px 1px var(--c-transparent),
    31px 1px var(--c-transparent), 32px 1px var(--c-transparent), 33px 1px var(--c-transparent),
    34px 1px var(--c-transparent), 35px 1px var(--c-transparent), 36px 1px black, 37px 1px var(--c-transparent),
    38px 1px var(--c-transparent), 39px 1px black, 40px 1px black, 41px 1px #4b4b4b, 42px 1px #252525, 43px 1px black,
    44px 1px black, 45px 1px black, 46px 1px var(--c-transparent), 47px 1px var(--c-transparent),
    48px 1px var(--c-transparent), 49px 1px var(--c-transparent), 50px 1px var(--c-transparent),
    /*line*/ 1px 2px var(--c-transparent), 2px 2px var(--c-transparent), 3px 2px var(--c-transparent),
    4px 2px var(--c-transparent), 5px 2px var(--c-transparent), 6px 2px var(--c-transparent),
    7px 2px var(--c-transparent), 8px 2px var(--c-transparent), 9px 2px var(--c-transparent),
    10px 2px var(--c-transparent), 11px 2px var(--c-transparent), 12px 2px var(--c-transparent),
    13px 2px var(--c-transparent), 14px 2px var(--c-transparent), 15px 2px var(--c-transparent),
    16px 2px var(--c-transparent), 17px 2px var(--c-transparent), 18px 2px var(--c-transparent),
    19px 2px var(--c-transparent), 20px 2px var(--c-transparent), 21px 2px var(--c-transparent),
    22px 2px var(--c-transparent), 23px 2px var(--c-transparent), 24px 2px var(--c-transparent),
    25px 2px var(--c-transparent), 26px 2px var(--c-transparent), 27px 2px var(--c-transparent),
    28px 2px var(--c-transparent), 29px 2px var(--c-transparent), 30px 2px var(--c-transparent),
    31px 2px var(--c-transparent), 32px 2px var(--c-transparent), 33px 2px var(--c-transparent),
    34px 2px var(--c-transparent), 35px 2px black, 36px 2px var(--c-transparent), 37px 2px var(--c-transparent),
    38px 2px black, 39px 2px #4b4b4b, 40px 2px #4b4b4b, 41px 2px #252525, 42px 2px black, 43px 2px black, 44px 2px black,
    45px 2px var(--c-transparent), 46px 2px var(--c-transparent), 47px 2px var(--c-transparent),
    48px 2px var(--c-transparent), 49px 2px var(--c-transparent), 50px 2px var(--c-transparent),
    /*line*/ 1px 2px var(--c-transparent), 2px 2px var(--c-transparent), 3px 2px var(--c-transparent),
    4px 2px var(--c-transparent), 5px 2px var(--c-transparent), 6px 2px var(--c-transparent),
    7px 2px var(--c-transparent), 8px 2px var(--c-transparent), 9px 2px var(--c-transparent),
    10px 2px var(--c-transparent), 11px 2px var(--c-transparent), 12px 2px var(--c-transparent),
    13px 2px var(--c-transparent), 14px 2px var(--c-transparent), 15px 2px var(--c-transparent),
    16px 2px var(--c-transparent), 17px 2px var(--c-transparent), 18px 2px var(--c-transparent),
    19px 2px var(--c-transparent), 20px 2px var(--c-transparent), 21px 2px var(--c-transparent),
    22px 2px var(--c-transparent), 23px 2px var(--c-transparent), 24px 2px var(--c-transparent),
    25px 2px var(--c-transparent), 26px 2px var(--c-transparent), 27px 2px var(--c-transparent),
    28px 2px var(--c-transparent), 29px 2px var(--c-transparent), 30px 2px var(--c-transparent),
    31px 2px var(--c-transparent), 32px 2px var(--c-transparent), 33px 2px var(--c-transparent),
    34px 2px var(--c-transparent), 35px 2px black, 36px 2px var(--c-transparent), 37px 2px black, 38px 2px #4b4b4b,
    39px 2px #4b4b4b, 40px 2px #252525, 41px 2px black, 42px 2px black, 43px 2px black, 44px 2px var(--c-transparent),
    45px 2px var(--c-transparent), 46px 2px var(--c-transparent), 47px 2px var(--c-transparent),
    48px 2px var(--c-transparent), 49px 2px var(--c-transparent), 50px 2px var(--c-transparent),
    /*line*/ 1px 3px var(--c-transparent), 2px 3px var(--c-transparent), 3px 3px var(--c-transparent),
    4px 3px var(--c-transparent), 5px 3px var(--c-transparent), 6px 3px var(--c-transparent),
    7px 3px var(--c-transparent), 8px 3px var(--c-transparent), 9px 3px var(--c-transparent),
    10px 3px var(--c-transparent), 11px 3px var(--c-transparent), 12px 3px var(--c-transparent),
    13px 3px var(--c-transparent), 14px 3px var(--c-transparent), 15px 3px var(--c-transparent),
    16px 3px var(--c-transparent), 17px 3px var(--c-transparent), 18px 3px var(--c-transparent),
    19px 3px var(--c-transparent), 20px 3px var(--c-transparent), 21px 3px var(--c-transparent),
    22px 3px var(--c-transparent), 23px 3px var(--c-transparent), 24px 3px var(--c-transparent),
    25px 3px var(--c-transparent), 26px 3px var(--c-transparent), 27px 3px var(--c-transparent),
    28px 3px var(--c-transparent), 29px 3px var(--c-transparent), 30px 3px var(--c-transparent),
    31px 3px var(--c-transparent), 32px 3px var(--c-transparent), 33px 3px var(--c-transparent),
    34px 3px var(--c-transparent), 35px 3px black, 36px 3px var(--c-transparent), 37px 3px black, 38px 3px #4b4b4b,
    39px 3px #4b4b4b, 40px 3px #252525, 41px 3px black, 42px 3px black, 43px 3px black, 44px 3px var(--c-transparent),
    45px 3px var(--c-transparent), 46px 3px var(--c-transparent), 47px 3px var(--c-transparent),
    48px 3px var(--c-transparent), 49px 3px var(--c-transparent), 50px 3px var(--c-transparent),
    /*line*/ 1px 4px var(--c-transparent), 2px 4px var(--c-transparent), 3px 4px var(--c-transparent),
    4px 4px var(--c-transparent), 5px 4px var(--c-transparent), 6px 4px var(--c-transparent),
    7px 4px var(--c-transparent), 8px 4px var(--c-transparent), 9px 4px var(--c-transparent),
    10px 4px var(--c-transparent), 11px 4px var(--c-transparent), 12px 4px var(--c-transparent),
    13px 4px var(--c-transparent), 14px 4px var(--c-transparent), 15px 4px var(--c-transparent),
    16px 4px var(--c-transparent), 17px 4px var(--c-transparent), 18px 4px var(--c-transparent),
    19px 4px var(--c-transparent), 20px 4px var(--c-transparent), 21px 4px var(--c-transparent),
    22px 4px var(--c-transparent), 23px 4px var(--c-transparent), 24px 4px var(--c-transparent),
    25px 4px var(--c-transparent), 26px 4px var(--c-transparent), 27px 4px var(--c-transparent),
    28px 4px var(--c-transparent), 29px 4px var(--c-transparent), 30px 4px var(--c-transparent),
    31px 4px var(--c-transparent), 32px 4px var(--c-transparent), 33px 4px var(--c-transparent), 34px 4px black,
    35px 4px var(--c-transparent), 36px 4px var(--c-transparent), 37px 4px black, 38px 4px #4b4b4b, 39px 4px #252525,
    40px 4px black, 41px 4px black, 42px 4px black, 43px 4px black, 44px 4px var(--c-transparent),
    45px 4px var(--c-transparent), 46px 4px var(--c-transparent), 47px 4px var(--c-transparent),
    48px 4px var(--c-transparent), 49px 4px var(--c-transparent), 50px 4px var(--c-transparent),
    /*line*/ 1px 5px var(--c-transparent), 2px 5px var(--c-transparent), 3px 5px var(--c-transparent),
    4px 5px var(--c-transparent), 5px 5px var(--c-transparent), 6px 5px var(--c-transparent),
    7px 5px var(--c-transparent), 8px 5px var(--c-transparent), 9px 5px var(--c-transparent),
    10px 5px var(--c-transparent), 11px 5px var(--c-transparent), 12px 5px var(--c-transparent),
    13px 5px var(--c-transparent), 14px 5px var(--c-transparent), 15px 5px var(--c-transparent),
    16px 5px var(--c-transparent), 17px 5px var(--c-transparent), 18px 5px var(--c-transparent),
    19px 5px var(--c-transparent), 20px 5px var(--c-transparent), 21px 5px var(--c-transparent),
    22px 5px var(--c-transparent), 23px 5px var(--c-transparent), 24px 5px var(--c-transparent),
    25px 5px var(--c-transparent), 26px 5px var(--c-transparent), 27px 5px var(--c-transparent),
    28px 5px var(--c-transparent), 29px 5px var(--c-transparent), 30px 5px var(--c-transparent),
    31px 5px var(--c-transparent), 32px 5px var(--c-transparent), 33px 5px var(--c-transparent), 34px 5px black,
    35px 5px var(--c-transparent), 36px 5px black, 37px 5px #4b4b4b, 38px 5px #4b4b4b, 39px 5px #252525, 40px 5px black,
    41px 5px black, 42px 5px black, 43px 5px var(--c-transparent), 44px 5px var(--c-transparent),
    45px 5px var(--c-transparent), 46px 5px var(--c-transparent), 47px 5px var(--c-transparent),
    48px 5px var(--c-transparent), 49px 5px var(--c-transparent), 50px 5px var(--c-transparent),
    /*line*/ 1px 6px var(--c-transparent), 2px 6px var(--c-transparent), 3px 6px var(--c-transparent),
    4px 6px var(--c-transparent), 5px 6px var(--c-transparent), 6px 6px var(--c-transparent),
    7px 6px var(--c-transparent), 8px 6px var(--c-transparent), 9px 6px var(--c-transparent),
    10px 6px var(--c-transparent), 11px 6px var(--c-transparent), 12px 6px var(--c-transparent),
    13px 6px var(--c-transparent), 14px 6px var(--c-transparent), 15px 6px var(--c-transparent),
    16px 6px var(--c-transparent), 17px 6px var(--c-transparent), 18px 6px var(--c-transparent),
    19px 6px var(--c-transparent), 20px 6px var(--c-transparent), 21px 6px var(--c-transparent),
    22px 6px var(--c-transparent), 23px 6px var(--c-transparent), 24px 6px black, 25px 6px black, 26px 6px black,
    27px 6px black, 28px 6px var(--c-transparent), 29px 6px var(--c-transparent), 30px 6px var(--c-transparent),
    31px 6px var(--c-transparent), 32px 6px var(--c-transparent), 33px 6px var(--c-transparent), 34px 6px black,
    35px 6px black, 36px 6px black, 37px 6px black, 38px 6px black, 39px 6px #252525, 40px 6px black, 41px 6px #252525,
    42px 6px black, 43px 6px black, 44px 6px black, 45px 6px black, 46px 6px black, 47px 6px black,
    48px 6px var(--c-transparent), 49px 6px var(--c-transparent), 50px 6px var(--c-transparent),
    /*line*/ 1px 7px var(--c-transparent), 2px 7px var(--c-transparent), 3px 7px var(--c-transparent),
    4px 7px var(--c-transparent), 5px 7px var(--c-transparent), 6px 7px var(--c-transparent),
    7px 7px var(--c-transparent), 8px 7px var(--c-transparent), 9px 7px var(--c-transparent),
    10px 7px var(--c-transparent), 11px 7px var(--c-transparent), 12px 7px var(--c-transparent),
    13px 7px var(--c-transparent), 14px 7px var(--c-transparent), 15px 7px var(--c-transparent),
    16px 7px var(--c-transparent), 17px 7px var(--c-transparent), 18px 7px var(--c-transparent),
    19px 7px var(--c-transparent), 20px 7px var(--c-transparent), 21px 7px var(--c-transparent),
    22px 7px var(--c-transparent), 23px 7px var(--c-transparent), 24px 7px var(--c-transparent),
    25px 7px var(--c-transparent), 26px 7px black, 27px 7px #252525, 28px 7px black, 29px 7px black,
    30px 7px var(--c-transparent), 31px 7px var(--c-transparent), 32px 7px black, 33px 7px black, 34px 7px black,
    35px 7px black, 36px 7px black, 37px 7px black, 38px 7px black, 39px 7px black, 40px 7px black, 41px 7px #4b4b4b,
    42px 7px #252525, 43px 7px #4b4b4b, 44px 7px #4b4b4b, 45px 7px #252525, 46px 7px #252525, 47px 7px black,
    48px 7px black, 49px 7px black, 50px 7px var(--c-transparent), /*line*/ 1px 8px var(--c-transparent),
    2px 8px var(--c-transparent), 3px 8px var(--c-transparent), 4px 8px var(--c-transparent),
    5px 8px var(--c-transparent), 6px 8px var(--c-transparent), 7px 8px var(--c-transparent),
    8px 8px var(--c-transparent), 9px 8px var(--c-transparent), 10px 8px var(--c-transparent),
    11px 8px var(--c-transparent), 12px 8px var(--c-transparent), 13px 8px var(--c-transparent),
    14px 8px var(--c-transparent), 15px 8px var(--c-transparent), 16px 8px var(--c-transparent),
    17px 8px var(--c-transparent), 18px 8px var(--c-transparent), 19px 8px var(--c-transparent),
    20px 8px var(--c-transparent), 21px 8px var(--c-transparent), 22px 8px var(--c-transparent),
    23px 8px var(--c-transparent), 24px 8px var(--c-transparent), 25px 8px var(--c-transparent),
    26px 8px var(--c-transparent), 27px 8px black, 28px 8px #252525, 29px 8px #4b4b4b, 30px 8px black, 31px 8px black,
    32px 8px #4b4b4b, 33px 8px #252525, 34px 8px black, 35px 8px black, 36px 8px black, 37px 8px black, 38px 8px black,
    39px 8px #252525, 40px 8px black, 41px 8px black, 42px 8px #4b4b4b, 43px 8px #252525, 44px 8px #252525,
    45px 8px black, 46px 8px black, 47px 8px black, 48px 8px black, 49px 8px black, 50px 8px black,
    /*line*/ 1px 9px var(--c-transparent), 2px 9px var(--c-transparent), 3px 9px var(--c-transparent),
    4px 9px var(--c-transparent), 5px 9px var(--c-transparent), 6px 9px var(--c-transparent),
    7px 9px var(--c-transparent), 8px 9px var(--c-transparent), 9px 9px var(--c-transparent),
    10px 9px var(--c-transparent), 11px 9px var(--c-transparent), 12px 9px var(--c-transparent),
    13px 9px var(--c-transparent), 14px 9px var(--c-transparent), 15px 9px var(--c-transparent),
    16px 9px var(--c-transparent), 17px 9px var(--c-transparent), 18px 9px var(--c-transparent),
    19px 9px var(--c-transparent), 20px 9px var(--c-transparent), 21px 9px var(--c-transparent),
    22px 9px var(--c-transparent), 23px 9px var(--c-transparent), 24px 9px var(--c-transparent),
    25px 9px var(--c-transparent), 26px 9px var(--c-transparent), 27px 9px var(--c-transparent), 28px 9px black,
    29px 9px black, 30px 9px #252525, 31px 9px #4b4b4b, 32px 9px black, 33px 9px black, 34px 9px black, 35px 9px black,
    36px 9px black, 37px 9px black, 38px 9px black, 39px 9px black, 40px 9px #252525, 41px 9px black, 42px 9px black,
    43px 9px #252525, 44px 9px black, 45px 9px black, 46px 9px black, 47px 9px black, 48px 9px var(--c-transparent),
    49px 9px var(--c-transparent), 50px 9px var(--c-transparent), /*line*/ 1px 10px var(--c-transparent),
    2px 10px var(--c-transparent), 3px 10px var(--c-transparent), 4px 10px var(--c-transparent),
    5px 10px var(--c-transparent), 6px 10px var(--c-transparent), 7px 10px var(--c-transparent),
    8px 10px var(--c-transparent), 9px 10px var(--c-transparent), 10px 10px var(--c-transparent),
    11px 10px var(--c-transparent), 12px 10px var(--c-transparent), 13px 10px var(--c-transparent),
    14px 10px var(--c-transparent), 15px 10px var(--c-transparent), 16px 10px var(--c-transparent),
    17px 10px var(--c-transparent), 18px 10px var(--c-transparent), 19px 10px var(--c-transparent),
    20px 10px var(--c-transparent), 21px 10px black, 22px 10px black, 23px 10px black, 24px 10px black, 25px 10px black,
    26px 10px black, 27px 10px black, 28px 10px black, 29px 10px black, 30px 10px #252525, 31px 10px black,
    32px 10px #252525, 33px 10px black, 34px 10px black, 35px 10px black, 36px 10px black, 37px 10px black,
    38px 10px black, 39px 10px black, 40px 10px #252525, 41px 10px black, 42px 10px black, 43px 10px #252525,
    44px 10px black, 45px 10px black, 46px 10px var(--c-transparent), 47px 10px var(--c-transparent),
    48px 10px var(--c-transparent), 49px 10px var(--c-transparent), 50px 10px var(--c-transparent),
    /*line*/ 1px 11px var(--c-transparent), 2px 11px var(--c-transparent), 3px 11px var(--c-transparent),
    4px 11px var(--c-transparent), 5px 11px var(--c-transparent), 6px 11px var(--c-transparent),
    7px 11px var(--c-transparent), 8px 11px var(--c-transparent), 9px 11px var(--c-transparent),
    10px 11px var(--c-transparent), 11px 11px var(--c-transparent), 12px 11px var(--c-transparent),
    13px 11px var(--c-transparent), 14px 11px var(--c-transparent), 15px 11px var(--c-transparent),
    16px 11px var(--c-transparent), 17px 11px var(--c-transparent), 18px 11px var(--c-transparent),
    19px 11px var(--c-transparent), 20px 11px var(--c-transparent), 21px 11px var(--c-transparent),
    22px 11px var(--c-transparent), 23px 11px var(--c-transparent), 24px 11px black, 25px 11px black, 26px 11px #252525,
    27px 11px #4b4b4b, 28px 11px black, 29px 11px black, 30px 11px black, 31px 11px #252525, 32px 11px black,
    33px 11px black, 34px 11px black, 35px 11px #252525, 36px 11px black, 37px 11px black, 38px 11px black,
    39px 11px black, 40px 11px black, 41px 11px #252525, 42px 11px black, 43px 11px black, 44px 11px black,
    45px 11px var(--c-transparent), 46px 11px var(--c-transparent), 47px 11px var(--c-transparent),
    48px 11px var(--c-transparent), 49px 11px var(--c-transparent), 50px 11px var(--c-transparent);
}
