:root {
  --c-black: #000;
  --c-white: #fff;
  --c-grey: #4d4d4d;
  --c-dark-grey: #252525;
  --c-ligth-grey: #c8c9cb;
  --c-brown: #87572c;
  --c-salmon: #ecc590;
  --c-dark-salmon: #ce9f76;
  --c-blue: #4753bf;
  --c-dark-blue: #050f82;
  --c-yellow: #ffcc00;
  --c-red: #a40f05;
  --c-dark-red: #570701;
  --c-orange: #f06600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 300px;
}

.pixel-art {
  height: 1px;
  width: 1px;
  transform: scale(10);
  box-shadow: 41px 0 var(--c-black), 42px 0 var(--c-black), 43px 0 var(--c-black), 44px 0 var(--c-black),
    45px 0 var(--c-black), 46px 0 var(--c-black), /*line*/ 36px 1px var(--c-black), 39px 1px var(--c-black),
    40px 1px var(--c-black), 41px 1px var(--c-grey), 42px 1px var(--c-dark-grey), 43px 1px var(--c-black),
    44px 1px var(--c-black), 45px 1px var(--c-black), /*line*/ 35px 2px var(--c-black), 38px 2px var(--c-black),
    39px 2px var(--c-grey), 40px 2px var(--c-grey), 41px 2px var(--c-dark-grey), 42px 2px var(--c-black),
    43px 2px var(--c-black), 44px 2px var(--c-black), /*line*/ 35px 2px var(--c-black), 37px 2px var(--c-black),
    38px 2px var(--c-grey), 39px 2px var(--c-grey), 40px 2px var(--c-dark-grey), 41px 2px var(--c-black),
    42px 2px var(--c-black), 43px 2px var(--c-black), /*line*/ 35px 3px var(--c-black), 37px 3px var(--c-black),
    38px 3px var(--c-grey), 39px 3px var(--c-grey), 40px 3px var(--c-dark-grey), 41px 3px var(--c-black),
    42px 3px var(--c-black), 43px 3px var(--c-black), /*line*/ 34px 4px var(--c-black), 37px 4px var(--c-black),
    38px 4px var(--c-grey), 39px 4px var(--c-dark-grey), 40px 4px var(--c-black), 41px 4px var(--c-black),
    42px 4px var(--c-black), 43px 4px var(--c-black), /*line*/ 34px 5px var(--c-black), 36px 5px var(--c-black),
    37px 5px var(--c-grey), 38px 5px var(--c-grey), 39px 5px var(--c-dark-grey), 40px 5px var(--c-black),
    41px 5px var(--c-black), 42px 5px var(--c-black), /*line*/ 24px 6px var(--c-black), 25px 6px var(--c-black),
    26px 6px var(--c-black), 27px 6px var(--c-black), 34px 6px var(--c-black), 35px 6px var(--c-black),
    36px 6px var(--c-black), 37px 6px var(--c-black), 38px 6px var(--c-black), 39px 6px var(--c-dark-grey),
    40px 6px var(--c-black), 41px 6px var(--c-dark-grey), 42px 6px var(--c-black), 43px 6px var(--c-black),
    44px 6px var(--c-black), 45px 6px var(--c-black), 46px 6px var(--c-black), 47px 6px var(--c-black),
    /*line*/ 26px 7px var(--c-black), 27px 7px var(--c-dark-grey), 28px 7px var(--c-black), 29px 7px var(--c-black),
    32px 7px var(--c-black), 33px 7px var(--c-black), 34px 7px var(--c-black), 35px 7px var(--c-black),
    36px 7px var(--c-black), 37px 7px var(--c-black), 38px 7px var(--c-black), 39px 7px var(--c-black),
    40px 7px var(--c-black), 41px 7px var(--c-grey), 42px 7px var(--c-dark-grey), 43px 7px var(--c-grey),
    44px 7px var(--c-grey), 45px 7px var(--c-dark-grey), 46px 7px var(--c-dark-grey), 47px 7px var(--c-black),
    48px 7px var(--c-black), 49px 7px var(--c-black), /*line*/ 27px 8px var(--c-black), 28px 8px var(--c-dark-grey),
    29px 8px var(--c-grey), 30px 8px var(--c-black), 31px 8px var(--c-black), 32px 8px var(--c-grey),
    33px 8px var(--c-dark-grey), 34px 8px var(--c-black), 35px 8px var(--c-black), 36px 8px var(--c-black),
    37px 8px var(--c-black), 38px 8px var(--c-black), 39px 8px var(--c-dark-grey), 40px 8px var(--c-black),
    41px 8px var(--c-black), 42px 8px var(--c-grey), 43px 8px var(--c-dark-grey), 44px 8px var(--c-dark-grey),
    45px 8px var(--c-black), 46px 8px var(--c-black), 47px 8px var(--c-black), 48px 8px var(--c-black),
    49px 8px var(--c-black), 50px 8px var(--c-black), /*line*/ 28px 9px var(--c-black), 29px 9px var(--c-black),
    30px 9px var(--c-dark-grey), 31px 9px var(--c-grey), 32px 9px var(--c-black), 33px 9px var(--c-black),
    34px 9px var(--c-black), 35px 9px var(--c-black), 36px 9px var(--c-black), 37px 9px var(--c-black),
    38px 9px var(--c-black), 39px 9px var(--c-black), 40px 9px var(--c-dark-grey), 41px 9px var(--c-black),
    42px 9px var(--c-black), 43px 9px var(--c-dark-grey), 44px 9px var(--c-black), 45px 9px var(--c-black),
    46px 9px var(--c-black), 47px 9px var(--c-black), /*line*/ 21px 10px var(--c-black), 22px 10px var(--c-black),
    23px 10px var(--c-black), 24px 10px var(--c-black), 25px 10px var(--c-black), 26px 10px var(--c-black),
    27px 10px var(--c-black), 28px 10px var(--c-black), 29px 10px var(--c-black), 30px 10px var(--c-dark-grey),
    31px 10px var(--c-black), 32px 10px var(--c-dark-grey), 33px 10px var(--c-black), 34px 10px var(--c-black),
    35px 10px var(--c-black), 36px 10px var(--c-black), 37px 10px var(--c-black), 38px 10px var(--c-black),
    39px 10px var(--c-black), 40px 10px var(--c-dark-grey), 41px 10px var(--c-black), 42px 10px var(--c-black),
    43px 10px var(--c-dark-grey), 44px 10px var(--c-black), 45px 10px var(--c-black), /*line*/ 24px 11px var(--c-black),
    25px 11px var(--c-black), 26px 11px var(--c-dark-grey), 27px 11px var(--c-grey), 28px 11px var(--c-black),
    29px 11px var(--c-black), 30px 11px var(--c-black), 31px 11px var(--c-dark-grey), 32px 11px var(--c-black),
    33px 11px var(--c-black), 34px 11px var(--c-black), 35px 11px var(--c-dark-grey), 36px 11px var(--c-black),
    37px 11px var(--c-black), 38px 11px var(--c-black), 39px 11px var(--c-black), 40px 11px var(--c-black),
    41px 11px var(--c-dark-grey), 42px 11px var(--c-black), 43px 11px var(--c-black), 44px 11px var(--c-black),
    /*line*/ 26px 12px var(--c-black), 27px 12px var(--c-black), 28px 12px var(--c-grey), 29px 12px var(--c-black),
    30px 12px var(--c-black), 31px 12px var(--c-dark-grey), 32px 12px var(--c-black), 33px 12px var(--c-black),
    34px 12px var(--c-black), 35px 12px var(--c-brown), 36px 12px var(--c-dark-grey), 37px 12px var(--c-black),
    38px 12px var(--c-black), 39px 12px var(--c-brown), 40px 12px var(--c-black), 41px 12px var(--c-dark-grey),
    42px 12px var(--c-black), 43px 12px var(--c-black), 44px 12px var(--c-dark-grey), 45px 12px var(--c-black),
    /*line*/ 26px 12px var(--c-black), 27px 12px var(--c-black), 28px 12px var(--c-grey), 29px 12px var(--c-black),
    30px 12px var(--c-black), 31px 12px var(--c-dark-grey), 32px 12px var(--c-black), 33px 12px var(--c-black),
    34px 12px var(--c-black), 35px 12px var(--c-brown), 36px 12px var(--c-dark-grey), 37px 12px var(--c-black),
    38px 12px var(--c-black), 39px 12px var(--c-brown), 40px 12px var(--c-black), 41px 12px var(--c-dark-grey),
    42px 12px var(--c-black), 43px 12px var(--c-black), 44px 12px var(--c-dark-grey), 45px 12px var(--c-black),
    /*line*/ 23px 13px var(--c-black), 24px 13px var(--c-black), 25px 13px var(--c-black), 26px 13px var(--c-grey),
    27px 13px var(--c-black), 28px 13px var(--c-black), 29px 13px var(--c-black), 30px 13px var(--c-black),
    31px 13px var(--c-black), 32px 13px var(--c-black), 33px 13px var(--c-black), 34px 13px var(--c-brown),
    35px 13px var(--c-dark-salmon), 36px 13px var(--c-dark-salmon), 37px 13px var(--c-dark-grey),
    38px 13px var(--c-dark-salmon), 39px 13px var(--c-brown), 40px 13px var(--c-black), 41px 13px var(--c-black),
    42px 13px var(--c-black), 43px 13px var(--c-black), 44px 13px var(--c-grey), 45px 13px var(--c-dark-grey),
    46px 13px var(--c-black), /*line*/ 24px 14px var(--c-black), 25px 14px var(--c-black), 26px 14px var(--c-black),
    27px 14px var(--c-dark-grey), 28px 14px var(--c-black), 29px 14px var(--c-black), 30px 14px var(--c-brown),
    31px 14px var(--c-salmon), 32px 14px var(--c-black), 33px 14px var(--c-black), 34px 14px var(--c-ligth-grey),
    35px 14px var(--c-white), 36px 14px var(--c-black), 37px 14px var(--c-brown), 38px 14px var(--c-dark-salmon),
    39px 14px var(--c-black), 40px 14px var(--c-black), 41px 14px var(--c-black), 42px 14px var(--c-dark-grey),
    43px 14px var(--c-black), 44px 14px var(--c-black), 45px 14px var(--c-black), 46px 14px var(--c-black),
    47px 14px var(--c-black), /*line*/ 21px 15px var(--c-black), 22px 15px var(--c-black), 23px 15px var(--c-black),
    24px 15px var(--c-dark-blue), 25px 15px var(--c-black), 26px 15px var(--c-red), 27px 15px var(--c-black),
    28px 15px var(--c-black), 29px 15px var(--c-black), 30px 15px var(--c-brown), 31px 15px var(--c-dark-salmon),
    32px 15px var(--c-black), 33px 15px var(--c-salmon), 34px 15px var(--c-ligth-grey), 35px 15px var(--c-white),
    36px 15px var(--c-black), 37px 15px var(--c-salmon), 38px 15px var(--c-dark-salmon), 39px 15px var(--c-ligth-grey),
    40px 15px var(--c-black), 41px 15px var(--c-dark-grey), 42px 15px var(--c-black);
}
